@model Projeto_Academico.Models.ViewModels.LoginViewModel

@{
    Layout = "~/Views/Shared/_Login_Template.cshtml";
    ViewBag.Title = "Login";
}

<div class="page login-page" style=" background: url(../img/bg.jpg);">
        <div class="container d-flex align-items-center">
            <div class="form-holder has-shadow">
                <div class="row">
                    <!-- Logo & Information Panel-->
                    <div class="col-lg-6">
                        <div class="info d-flex align-items-center">
                            <div class="content">
                                <div class="logo">
                                    <h1>Dashboard</h1>
                                </div>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                            </div>
                        </div>
                    </div>
                    <!-- Form Panel    -->
                    <div class="col-lg-6 bg-white">
                        <div class="form d-flex align-items-center">
                            <div class="content">
                                @using (Html.BeginForm("Index", "Login", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form", @class = "login-form" }))
                                {
                                    @Html.AntiForgeryToken()
                                    
                                    <div class="form-group">
                                        @Html.TextBoxFor(m => m.Login, new { @class = "input-material", @id = "login-username", required = true })
                                        @Html.LabelFor(m => m.Login, new { @class = "label-material" })
                                        @Html.ValidationMessageFor(m => m.Login, "", new { @class = "text-danger", style = "color: #fff;" })
                                    </div>
                                    <div class="form-group">
                                        @Html.PasswordFor(m => m.Senha, new { @class = "input-material", @id = "passwordinput" })
                                        @Html.LabelFor(m => m.Senha, new { @class = "label-material" })
                                        @Html.ValidationMessageFor(m => m.Senha, "", new { @class = "text-danger" })
                                    </div>
                                    <button type="submit" id="login" class="btn btn-primary">Login</button>
                                    <!-- This should be submit button but I replaced it with <a> for demo purposes-->
                                }
                                @Html.ValidationSummary(true, "", new { @class = "text-danger", @id = "form-login" })
                                <a href="#" class="forgot-pass">Esqueceu de sua senha?</a><br><small>Você não tem uma conta? </small>
                                <a href="@Url.Action("Cadastro", "Inicio")" class="signup">Registre-se</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


